*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 16px;
    font-family: 'Asap', Arial, Helvetica, sans-serif;
}
img{max-width: 100%}
// COLORS
$color-a: #a32621; //main red
$color-b: #3c3c3b; //dark grey
$color-c: #b2b1b1; //light grey
$color-d: #fff; //white

.f--color-a{color: $color-a}
.f--color-b{color: $color-b}
.f--color-c{color: $color-c}
.f--color-d{color: $color-d}

// Measure
$measure: 1rem;

// Fonts
@mixin font-a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 180px;
    font-weight: 900;
    line-height: 1.1;
    @media (max-width: 960px){
        font-size: 60px;
    }
}
@mixin font-b {
    font-family: 'Asap', Arial, Helvetica, sans-serif;
    font-size: 6vw;
    font-weight: 600;
    line-height: 1;
    @media (max-width: 960px){
        font-size: 36px;
    }
}
@mixin font-c {
    font-family: 'Asap', Arial, Helvetica, sans-serif;
    font-size: 4rem;
    font-weight: 600;
    line-height: 1.1;
    @media (max-width: 960px){
        font-size: 28px;
    }
}
@mixin font-d {
    font-family: 'Asap', Arial, Helvetica, sans-serif;
    font-size: 2.8rem;
    font-weight: 900;
    line-height: 1.3;
    @media (max-width: 960px){
        font-size: 18px;
    }
}
@mixin font-e {
    font-family: 'Asap', Arial, Helvetica, sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.3;
    @media (max-width: 960px){
        font-size: 14px;
    }
}
@mixin font-f {
    font-family: 'Asap', Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.3;
    @media (max-width: 960px){
        font-size: 14px;
    }
}
.f--font-a{ @include font-a;}
.f--font-b{ @include font-b;}
.f--font-c{@include font-c;}
.f--font-d{@include font-d;}
.f--font-e{@include font-e;}

// Margins
.f--mb-24{margin-bottom: 24px;}
.f--mb-32{margin-bottom: 32px;}
.f--mb-64{margin-bottom: 64px;}
.f--mb-lg-24{
    @media (max-width: 960px){
        margin-bottom: 24px;
    }
}

// Sections
.f--section-a{
    padding: 8% 0 10% 0;
    @media (max-width: 960px){
        padding: 15% 0 15% 0;
    }
}
.f--section-b{
    padding: 12% 0 0 0;
}
.f--section-c{
    padding: 0 0 4% 0;
}
.f--section-d{
    padding: 8% 0 4% 0;
}
.f--section-e{
    padding: 252px 0 0 0;
}
//ANIMATION
@keyframes parpadeo{
    0% {
        opacity:1;
    }
    30% {
        opacity:1;
    }
    31%{
        opacity: 0;
    }
    79% {
        opacity: 0;
    }
    80%{
        opacity:1;
    }
    100% {
        opacity: 1;
    }
}
//COMPONENTS
//btn
@mixin btn {
    position: relative;
    display: inline-block;
    padding: $measure*1.15 $measure*2;
    border-radius: none!important;
    @include font-e;
    text-decoration: none!important;
    color: $color-d;
    background-color: $color-b;
    overflow: hidden;
    transition: all ease-in-out .3s;
    z-index: 0;
    @media (max-width: 960px){
        padding: $measure*0.7 $measure*1.14;
        @include font-e;
    }
    &__text{
        position: relative;
        @include font-e;
        text-decoration: none!important;
        color: $color-d;
        z-index: 2;
    }
    &__form{
        position:  absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $color-c;
        transform: translateX(-100%);
        transition: all ease-in-out .3s;
        z-index: 1;
        &:before{
            content:'';
            position:  absolute;
            bottom: 0;
            right: 0;
            border-left: 45px solid transparent;
            border-top: 45px solid transparent;
            border-right: 45px solid $color-b;
            border-bottom: 45px solid $color-b;
            transition: all ease-in-out .3s;
            z-index: 1;
        }
    }
    
    &:hover{
        border-radius: 0px;
        color: $color-a;
        transition: all ease-in-out .3s;
    }
    &:hover &{
        &__form{
            transform: translateX(0%);
        }
    }
}
.b--btn-a{
    @include btn;
    &:hover{
        color: $color-c;
    }
    &--second{
        padding: $measure $measure*2;
        @include font-e;
        font-weight: bold
    }
}

// Header
.b--header-a{
    position: fixed;
    width: 100%;
    background-color: $color-d;
    padding: $measure*1.5 $measure*4;
    z-index: 300;
    @media (max-width: 960px){
        padding: $measure 0px;
        margin: 0px;
    }
    &__logo{
        max-height: 60px;
        @media (max-width: 960px){
            max-height: 50px;
        }
        &__link{
            display: block;
            width: fit-content;
            &__media{
                max-height: 60px;
                @media (max-width: 960px){
                    max-height: 50px;
                }
            }
        }
    }
    &__content{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 100%;
        &__phone{
            @include font-e();
            font-weight: bold;
            color: $color-b;
            text-decoration: none!important;
            @media (max-width: 960px){
                font-size: 12px;
            }
            &:hover{
                color: $color-c;
            }
            &__icon{
                max-width: 24px;
                margin-right: 8px;
                @media (max-width: 960px){
                    max-width: 16px;
                }
            }
        }
        &__lang{
            margin-left: 32px;
            @media (max-width: 960px){
                margin-left: 12px;
            }
            &__text{
                @include font-e();
                color: $color-b;
                margin: 0;
                a{
                    @include font-e();
                    color: $color-b;
                    text-decoration: none;
                    @media (max-width: 960px){
                        font-size: 12px;
                    }
                    &:hover{
                        color: $color-b;
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}

// hero-a
.b--hero-a{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: $color-a;
    @media (max-width: 960px){
        height: 70vh;
    }
    &__bg-items{
        position: absolute;
        height: 100vh;
        opacity: 0.9;
        z-index: 2;
        @media (max-width: 960px){
            height: 70vh;
        }
        &__media{
            height: 100vh;
            min-width: 100vw;
            object-fit: cover;
            @media (max-width: 960px){
                height: 70vh;
            }
        }
        &__overlay{
            position: absolute;
            height: 100vh;
            width: auto;
            @media (max-width: 960px){
                height: 70vh;
            }
            &__media{
                height: 100vh;
                @media (max-width: 960px){
                    height: 70vh;
                }
            }
        }
    }
    &__ft-items{
        position: relative;
        margin-top: 40vh;
        z-index: 4;
        @media (max-width: 960px){
            margin-top: 30vh;
        }
        &__content{
            text-align: left;
            display: flex;
            flex-direction: column;
            justify-content: center;
            &__title{
                display: block;
                @include font-b();
                color: $color-d;
                background-color: $color-b;
                text-align: left;
                padding: 0 20px;
                max-width: fit-content;
                margin-bottom: 7px;
                @media (max-width: 960px){
                    padding: 0 10px;
                }
            }
        }
        &__btn{
            margin-top: $measure*3;
            @media (max-width: 960px){
                margin-top: $measure*1.5;
            }
        }
    }
}

@keyframes scale{
    0% {
        transform: scale(1) rotate(45deg);
    }
    50% {
        transform: scale(1.6) rotate(45deg);
    }
    100% {
        transform: scale(1) rotate(45deg);
    }
}

//title
.b--title-a{
    width: fit-content;
    @include font-d();
    color: $color-d;
    background-color: $color-a;
    padding: 0 15px;
    margin-bottom: $measure*3;
}

// Cta-a
.b--cta-a{
    position: relative;
    background-color: $color-a;
    &__bg-items{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
        &__media{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__ft-items{
        position: relative;
        background-color: rgba($color-a, 0.9);
        padding: 92px 0 120px 0;
        z-index: 3;
        &__title{
            @include font-c;
            text-align: center;
            margin-bottom: $measure*6;
            color: $color-d;
            @media (max-width: 960px){
                margin-bottom: $measure*3;
            }
        }
        &__card{
            position: relative;
            padding: $measure*5 $measure;
            transition: all ease-in-out .3s;
            @media (max-width: 960px){
                margin-bottom: $measure*2;
                padding: 0px;
            }
            &__title{
                position: relative;
                width: 100%;
                &__text{
                    @include font-d();
                    font-weight: 400;
                    color: $color-d;
                    display: block;
                    width: fit-content;
                    padding: 0 10px;
                    margin: 0;
                    margin-bottom: 7px;
                    cursor: pointer;
                    user-select: none;
                    transition: all ease-in-out .3s;
                    background-color: $color-b;
                    &--bold{
                        font-weight: 700;
                        @include font-c();
                    }
                }
                &::after{
                    content:'';
                    position: absolute;
                    top: 0; right: 0;
                    border-left: 35px solid transparent;
                    border-top: 35px solid $color-d;
                    border-right: 35px solid $color-d;
                    border-bottom: 35px solid transparent;
                    opacity: 0;
                    transition: all ease-in-out .3s;
                    @media (max-width: 960px){
                        border-left: 20px solid transparent;
                        border-top: 20px solid $color-d;
                        border-right: 20px solid $color-d;
                        border-bottom: 20px solid transparent;
                    }
                }
            }
            &__content{
                @include font-e();
                color: $color-d;
                position: relative;
                opacity: 0;
                margin-top: 14px;
                z-index: 2;
                transition: all 0.25s ease-in-out;
            }
            &:hover &{
                &__title{
                    &__text{
                        background-color: rgba($color-b, 0);
                        margin-bottom: 0px;
                        padding: 0px;
                    }
                    &::after{
                        opacity: 1!important;
                        transition: all ease-in-out .3s;
                    }
                }
                &__content{
                    opacity: 1;
                }
            }
        }
        &__btn{
            text-align: center;
            margin-top: $measure*6;
            @media (max-width: 960px){
                margin-top: $measure;
            }
        }
    }
}
@keyframes flipdown {
    0% {
      opacity: 0;
      transform-origin: top center;
      transform: rotateX(-90deg);
    }
    5% {
      opacity: 1;
    }
    80% {
      transform: rotateX(8deg);
    }
    83% {
      transform: rotateX(6deg);
    }
    92% {
      transform: rotateX(-3deg);
    }
    100% {
      transform-origin: top center;
      transform: rotateX(0deg);
    }
}
.b--accordion-a{
    list-style: none;
    perspective: 900;
    padding: 0;
    margin: 0;
    &__list-item{
        position: relative;
        padding: 0px!important;
        margin: 0px!important;
        padding-bottom: 4px;
        padding: $measure*3;
        animation: flipdown 0.5s ease both;
        @media (max-width: 960px){
            padding: 0px;
        }
        &:nth-of-type(1){
            animation-delay: 0.5s;
        }
        &:nth-of-type(2){
            animation-delay: 0.75s;
        }
        &:last-of-type {
            padding-bottom: 0;
        }
        &__title{
            position: relative;
            width: 100%;
            &__text{
                @include font-d();
                font-weight: 400;
                color: $color-d;
                display: block;
                width: fit-content;
                padding: 0 10px;
                margin: 0;
                margin-bottom: 7px;
                cursor: pointer;
                user-select: none;
                transition: all ease-in-out .3s;
                background-color: $color-b;
                &--bold{
                    font-weight: 700;
                    @include font-c();
                }
            }
            &::after{
                content:'';
                position: absolute;
                top: 0; right: 0;
                border-left: 35px solid transparent;
                border-top: 35px solid $color-d;
                border-right: 35px solid $color-d;
                border-bottom: 35px solid transparent;
                opacity: 0;
                transition: all ease-in-out .3s;
                @media (max-width: 960px){
                    border-left: 20px solid transparent;
                    border-top: 20px solid $color-d;
                    border-right: 20px solid $color-d;
                    border-bottom: 20px solid transparent;
                }
            }
        }
        &__content{
            @include font-e();
            color: $color-d;
            position: relative;
            overflow: hidden;
            max-height: 800px;
            opacity: 1;
            transform: translate(0, 0);
            margin-top: 14px;
            z-index: 2;
            transition: all 0.25s ease-in-out;
        }
        input[type=checkbox] {
            position: absolute;
            cursor: pointer;
            width: 100%;
            height: 100%;
            z-index: 1;
            opacity: 0;
        }
        input[type=checkbox]:checked ~ p {
            margin-top: 0;
            max-height: 0;
            opacity: 0;
            transform: translate(0, 50%);
        }
        input[type=checkbox]:checked ~ .b--accordion-a__list-item__title {
            &__text{
                background-color: $color-b;
                margin-bottom: 0px;
                padding: 0 10px;
            }
            &::after{
                opacity: 0;
                transition: all ease-in-out .3s;
            }
        }
        &:hover &{
            &__title{
                &__text{
                    background-color: rgba($color-b, 0);
                    margin-bottom: 0px;
                    padding: 0px;
                }
                &::after{
                    opacity: 1!important;
                    transition: all ease-in-out .3s;
                }
            }
        }
    }
}

// card-a
.b--card-a{
    display: block;
    position: relative;
    text-decoration: none!important;
    margin-bottom: $measure*1.5;
    &__hd{
        position: relative;
        z-index: 0;
        height: 250px;
        overflow: hidden;
        @media (max-width: 960px){
            height: 170px;
        }
        &__media-wrapper{
            width: 100%;
            height: 250px;
            overflow: hidden;
            @media (max-width: 960px){
                height: 170px;
            }
            &__media{
                width: 100%;
                height: 250px;
                object-fit: cover;
                transform: scale(1);
                transition: all ease-in-out .3s;
                @media (max-width: 960px){
                    height: 170px;
                }
            }
        }
        &__item{
            position: absolute;
            bottom: 0;
            right: 0;
            width: 70px;
            height: 70px;
            &__media{
                position: absolute;
                right: 20px;
                bottom: 20px;
                transform-origin: -70px 70px;
                transform: translate(0px, 0px);
                transition: all ease-out .3s;
                z-index: 2;
                @media (max-width: 960px){
                    right: 12px;
                    bottom: 12px;
                }
                img{
                    width: 40px;
                    @media (max-width: 960px){
                        width: 20px;
                    }
                }
            }
            &__form{
                position: absolute;
                bottom: 0;
                right: 0;
                border-left: 70px solid transparent;
                border-top: 70px solid transparent;
                border-right: 70px solid $color-a;
                border-bottom: 70px solid $color-a;
                z-index: 1;
                @media (max-width: 960px){
                    border-left: 40px solid transparent;
                    border-top: 40px solid transparent;
                    border-right: 40px solid $color-a;
                    border-bottom: 40px solid $color-a;
                }
            }
        }
    }
    &__bd{
        margin-top: $measure;
        &__title{
            @include font-e();
            font-weight: 400;
            color: $color-b;
        }
    }
    &:hover &{
        &__hd{
            &__media-wrapper{
                &__media{
                    transform: scale(1.15);
                    transition: all ease-in-out .3s;
                }
            }
            &__item{
                &__media{
                    transform: translate(70px, -70px);
                    transition: all ease-in .2s;
                }
            }
        }
    }
}

// card-b
.b--card-b{
    position: relative;
    display: flex;

    &__bg-items{
        position: relative;
        margin: 0 auto;
        width: 70%;
        opacity: 1;
        @media (max-width: 960px){
            width: 90%;
        }
        &__media{
           position: relative;
           z-index: 0;
            &--second{
                position: absolute;
                animation: parpadeo 1s linear infinite;
                z-index: 1;
            }
        }
    }
    &__ft-items{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        z-index: 3;
        @media (max-width: 960px){
            position: absolute;
            bottom: 10%;
            width: 100%;
        }
        &__title{
            margin-bottom: 30px;
            &__text{
                position: relative;
                display: block;
                @include font-b();
                color: $color-d;
                background-color: $color-b;
                padding: 0 15px;
                max-width: fit-content;
                margin-bottom: 10px;
            }
        }
        &__btn-wrapper{
            width: 100%;
        }
    }
}

// card-c
.b--card-c{
    position: relative;
    &__content{
        position: absolute;
        bottom: -5rem;
        right: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        text-align: right;
        z-index: 2;
        @media (max-width: 960px){
            bottom: 1rem;
        }
        &__title{
            @include font-c();
            font-weight: 400;
            color: $color-d;
            display: inline-block;
            text-align: right;
            background-color: $color-b;
            padding: 0 10px;
            max-width: fit-content;
            margin-bottom: 7px;
            b{
                font-weight: 600;
            }
        }
    }
    
    &__media-wrapper{
        position: relative;
        margin: 0 auto;
        width: 70%;
        opacity: 1;
        z-index: 1;
        &__media{
            position: relative;
            z-index: 0;
            &--second{
                position: absolute;
                animation: parpadeo 1s linear infinite;
                z-index: 1;
            }
        }
    }
    
}

//horizontal text
@keyframes move-text-left{
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(-50%, 0, 0);
    }
}
@keyframes move-text-right{
    0% {
        transform: translate3d(-50%, 0, 0);
    }
    100% {
        transform: translate3d(0, 0, 0);
    }
}
.b--scroll-a{
    position: relative;
    &__ft-items{
        position: relative;
        padding: $measure*8 0;
        width: 100vw;
        text-align: center;
        z-index: 3;
        @media (max-width: 960px){
            padding: $measure*2 0;
        }
        &__title{
            text-align: center;
            @include font-b();
            font-weight: 700;
            color: $color-a;
            text-decoration: none!important;
            transition: all ease-in-out .2s;
            &:hover{
                color: $color-b;
                transition: all ease-in-out .2s;
            }
        }
    }
    &__bg-items{
        z-index: 0;
        .b--horizontal-text-a{
            position: absolute;
            bottom: 10%;
            max-width: 100%;
            overflow: hidden;
            z-index: 0;
            @media (max-width: 960px){
                bottom: 12%;
            }
            &__item{
                white-space: nowrap;
                overflow: hidden;
                cursor: default;
                display: inline-block;
                animation-play-state: running;
                &--left{
                    
                    animation: move-text-left 20s linear infinite;
                }
                &--right{
                    padding-top: 20px;
                    animation: move-text-right 20s linear infinite;
                }
                &__text{
                    display: inline-block;
                    @include font-a();
                    font-weight: 900!important;
                    -webkit-text-stroke: 1px $color-c;
                    color: transparent;
                }
            }
            &--second{
                top: 10%;
                bottom: auto;
            }
            &--third{
                top: 45%;
                bottom: auto;
                @media (max-width: 960px){
                    top: 40%;
                }
            }
        }
    }
}

.b--footer-a{
    padding: 4% $measure*4;
    background-color: $color-c;
    @media (max-width: 960px){
        padding: 4% 0px;
    }
    &__main{
        height: 100%;
        display: flex;
        align-items: flex-end;
        @media (max-width: 960px){
            margin-bottom: $measure*3;
            display: block;
            height: auto;
        }
        &__link{
            display: block;
            &__media{
                max-height: 90px;
                
            }
        }
    }
    &__content{
        text-align: right;
        margin-bottom: $measure*2.5;
        @media (max-width: 960px){
            text-align: left;
        }
        &__text{
            @include font-f();
            color: $color-d;
            display: block;
            text-decoration: none!important;
            &:hover{
                color: $color-a;
            }
        }
    }
    &__wrapper{
        display: flex;
        justify-content: flex-end;
        @media (max-width: 960px){
            justify-content: flex-start;
        }
        &__media{
            margin-left: $measure*1.5;
            @media (max-width: 960px){
                margin-left: 0px;
                margin-right: $measure*1.5;
            }
            &__link{
                display: block;
                &__media{
                    max-height: 25px;
                    @media (max-width: 960px){
                        max-height: 20px;
                    }
                }
            }
        }
    }
}